

.App{
  display: flex;
  gap:2%;
  flex-wrap: wrap;
  border:0px solid;
  width:90%;
  margin-right:5%;
  margin-left:5%;
  margin-top:2%;
  margin-bottom:2%;
  background-color: antiquewhite;

}
.itemSpecs{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
} 
*{
  padding: 0;
  margin:0;
}
.itemDesp{
  overflow: hidden;
  height: 68px;
}
.itemContainer{
  display:  inline-flex;
  margin: 1% 2% 1% 6%;
  padding-right: 50px;
  padding-left: 50px;
   
}

.itemCard{
  width:300px;
  height:630px;
  
}

.itemImg{
  width:280px;
  height:290px;
  margin-left: 10px;
  margin-top: 5px;
}

.list-group-flush{
  margin-left: 10px;
  margin-right: 10px;
}

.title{
  margin-left: 10px;
  margin-right: 10px;
}

.header{
  text-align: center;

}

.button{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:10px 50px 1px 50px ;
  
}

.addItems{
  text-align: center;
}

.item{
  text-align: center;
}

